.App {
    background-image: url("./img2.jpg");
    /* min-height: 100vh; */

    /* Full height */
    min-Height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
    grid-template-rows: 100px auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: stretch;
}

/* linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);*/

.App-navigation {
    padding: 10px;
    color: black;
    background-color:rgba(255,255,255,0.5);
}

.App-sidebar {
    background: rgba(255, 255, 255, 0.9);
    display: relative;
    padding: 10px;
}

.App-sidebar img {
    max-width: 100%;
}

.App-navigation h1 {
    font-size: 36pt;
}

.Article-title {
    font-size: 25pt;
}

.App-navigation {
    
    grid-column: 2 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.App-navigation a {
    font-size: 20pt;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.App-mainContent {
    grid-column: 2;
}

.photo{
    height: 100px;
    width: 100px;
}





